@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf) format('truetype'),
         url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format('truetype');
}

:root {
    --bg-body: #FAFDF2;
    --primary: #CBEA7B;
    --secondary: #1A3129;
    --bg-primary: #F6FBE9;
    --border: #E5F5BD;
    --heading: #262626;
    --text: #333333;
    --menu: #FAFDF2;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
}

body {
    background: var(--bg-body);
    color: var(--text);
    font-family: "Urbanist", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.715rem;
    line-height: 100%;
    font-weight: 700;
    color: var(--secondary);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--heading);
}

/** NAVIGATION **/

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--menu);
    background: var(--secondary);
    padding: 20px 16px;
    border-bottom: 1px solid var(--border);
}

.logo {
    width: 147px;
}

.logo >img {
    display: block;
    width: 100%;
}

.menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.menu-btn > span {
    width: 100%;
    background: var(--primary);
    height: 3px;
    border-radius: 8px;
}

.menu-btn > span:last-child {
    width: 50%;
    margin-left: auto;
}

.navbar {
    display: none;
}

.navbar.show {
    background: var(--secondary);
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    padding: 20px 16px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    display: block;
}

.navbar.show .nav-link {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.nav-link.active {
    color: var(--primary);
}

/** HERO SECTION **/

main {
    margin-top: 74px;
}

.section {
    width: 100%;
}

.hero-img {
    width: 100%;
}

.hero-img > img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.hero-description {
    padding: 20px 16px;
    text-align: center;
}

.hero-description > .intro {
    font-size: 1.285rem;
    font-weight: 600;
    color: var(--secondary);
    display: inline-block;
    border-bottom: 3px solid var(--primary);
    padding: 5px;
}

.hero-description > h1 {
    margin-top: 10px;
}

.hero-description > p {
    margin-top: 16px;
}

.btn-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.btn-primary {
    display: block;
    padding: 14px 16px;
    background: var(--primary);
    color: var(--heading);
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 6px;
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-primary-outline {
    background: var(--border);
    border: 1px solid var(--primary);
}

/* FEATURES */
section:not(.hero-section) {
    padding: 25px 16px;
}

.section-title {
    font-size: 2rem;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
    color: var(--heading);
}

.section-description {
    margin-top: 6px;
    text-align: center;
}

.features-item {
    background: var(--bg-primary);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 30px;
}

.features-title {
    font-size: 1.285rem;
    line-height: 150%;
    font-weight: 600;
}

.features-item {
    margin-top: 20px;
}

.features-title::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    border-radius: 6px;
    margin-right: 10.5px;
}

.features-title.flower::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/flower.svg);
}

.features-title.graduationcap::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/graduationcap.svg);
}

.features-title.fork-knife::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/fork-knife.svg);
}

.features-title.wallet-pass::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/wallet-pass.svg);
}

.features-title.dumbbell::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/dumbbell.svg);
}

.features-title.backpack::before {
    background: var(--primary) center / 24px 24px no-repeat url(../icons/backpack.svg);
}

.features-item > p {
    margin-top: 16px;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.375rem;
    }
    
    /** NAVIGATION **/
    
    .header {
        padding: 21.5px 80px;
        font-size: 0.875rem;
    }
    
    .menu-btn{
        display: none;
    }
    
    .navbar {
        display: block;
    }
    
    .navbar.show {
        background: var(--secondary);
        display: block;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        padding: 20px 16px;
        margin-bottom: 1px solid var(--border);
    }
    
    .nav-list {
        flex-direction: row;
    }
    
    .nav-link {
        margin-left: 20px;
    }

    .nav-link:hover {
        color: var(--primary);
    }

    .nav-link.contact-nav {
        padding: 12px 16px;
        background: var(--primary);
        color: var(--heading);
        font-weight: 600;
        border-radius: 6px;
        margin-left: 30px;
    }
    
    .nav-link.contact-nav:hover {
        opacity: 0.8;
    }
 /** MAIN **/

main {
    margin-top: 91px;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-img {
    width: 100%;
}

.hero-description {
    padding: 50px 30px;
    text-align: left;
}

.hero-description > h1 {
    margin-top: 14px;
}

.hero-description > p {
    margin-top: 20px;
}

.btn-group {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}

.btn-primary {
    display: block;
    padding: 14px 16px;
    background: var(--primary);
    color: var(--heading);
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 6px;
}

.btn-primary-outline {
    background: var(--border);
    border: 1px solid var(--primary);
}
}

@media screen and (min-width: 1440px) {
    .hero-description {
        padding: 120px 80px 120px 40px;
    }
    
    .hero-description > p {
        margin-top: 16px;
    }
    
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 18px;
    }
    
    h1 {
        font-size: 3.22rem;
    }
    
    h2 {
        font-size: 2.65rem;
    }
    
    /** NAVIGATION **/
    
    .header {
        padding: 25px 162px;
        font-size: 1rem;
    }
    
    .nav-link {
        margin-left: 26px;
    }

    .nav-link.contact-nav {
        padding: 14px 24px;
        border-radius: 8px;
        margin-left: 40px;
    }

    /** MAIN **/
    .hero-description {
        padding: 125px 162px 125px 50px;
    }
    
    .hero-description > p {
        margin-top: 20px;
    }
    
    .btn-group {
        margin-top: 50px;
    }
    
    .btn-primary {
        padding: 16px 20px;
        border-radius: 8px;
    }
    
}

